## numpy 개요
### numpy 특징

- 컴퓨터의 입력 값을 통해 계산이 반복될 때, 배열로 데이터를 나타내는 것이 장점이 많음
- 배열을 다루기 좋은 구조로 제공하는 라이브러리임
- Numpy 핵심은 C로 구현되어 있어 배열을 계산하고 처리하는데 효율적인 기능들을 제공하고 속도 또한 빠름
- 대규모 다차원 배열과 행렬 연산에 필요한 다양한 함수를 제공
- 메모리 버퍼에 배열 데이터를 저장하고 처리하는 효율적인 인터페이스를 제공  

- 파이썬 리스트 데이터 구조  
    + 여러가지 타입의 원소
    + linked list 구현
    - 메모리 용량이 크고 속도가 느림
    - 벡터화 연산 불가

- Numpy ndarray
    - 동일 타입의 원소
    - contiguous memory layout
    -  `array` 명령으로 배열을 만들 때 자료형을 명시적으로 적용하려면 `dtype` 인수를 사용
    - 만들어진 배열의 자료형을 알아내려면 `dtype` 속성
    - 메모리 최적화, 계산 속도 향상
    - 벡터화 연산 가능

> 하지만 고수준의 데이터 분석 기능을 제공하지 않아 Pandas 를 이용해 분석 수행함

### numpy 패키지 설치 및 불러오기
- pip 명령이나 conda 명령을 사용하여 설치하기
- 배열을 사용하기 위해 numpy 패키지를 import
- numpy는 "np"라는 축약어 사용이 관례

## 목차
1. numpy 개요  
- 1.1 numpy 특징  
- 1.2 numpy 패키지 설치   
- 1.3 numpy 패키지 불러오기  
<br>  
2. 배열 (array)  
- 2.1 1차원 배열  
- 2.2 2차원 배열  
- 2.3 3차원 배열  
- 2.4 배열의 차원과 크기  
- 2.5 벡터화 연산  
- 2.6 조건연산(True, False)  
<br>           
3. 배열의 인덱싱(Indexing)  
- 3.1 인덱싱(Indexing)  
- 3.2 불리언 인덱싱(Blean Indexing)  
- 3.3 슬라이싱(Slicing)  
<br>          
4. 데이터 타입  
- 4.1 데이터 타입 확인  
- 4.2 numpy inf와 non  
<br>             
5. 다양한 배열 생성 명령  
- 5.1 zeros  
- 5.2 ones & ones_like , zeros_like  
- 5.3 arange & linspace & logspace  
<br>           
6. 배열의 형태변경  
- 6.1 전치  
- 6.2 배열의 크기 변환 - Reshape  
<br>            
7. 배열의 연산  
- 7.1 벡터화 연산(vectorized operation)  
- 7.2 벡터 연산 - 지수, 제곱, 로그함수  
- 7.3 스칼라와 벡터 연산  
- 7.4 브로드캐스팅(Broadcasting)  
<br>          
8. 차원축소 연산  
- 8.1 1차원 배열의 차원축소 연산  
- 8.2 2차원 배열의 차원숙소 연산  
- 8.3 배열 연결 및 분할  
<br>            
9. numpy를 이용한 기술통계(descriptive statistics)  
<br>              
10. numpy 난수생성

In [1]:
# 패키지를 설치한다. Colab에는 설치되어 있음
!pip install numpy

Requirement already satisfied: numpy in c:\users\stc\anaconda3\lib\site-packages (1.26.4)

In [2]:
# 패키지를 가져온다.
import numpy as np

## Numpy 배열과 for 반복문 속도 비교

In [3]:
# 배열 만들기
arr = np.arange(1000)
%timeit a2 = arr**2

625 ns ± 6.91 ns per loop (mean ± std. dev. of 7 runs, 1,000,000 loops each)

In [4]:
# ndarray 를 리스트로 변환하기
L = range(1000)
%timeit L2 = [i**2 for i in L]

35.9 µs ± 452 ns per loop (mean ± std. dev. of 7 runs, 10,000 loops each)

▲ 결과 : NumPy 배열이 리스트 컴프리헨션보다 약 73배 빠름. NumPy의 벡터화된 연산이 Python 리스트의 루프보다 훨씬 더 빠르다는 것을 보여줌.

이 차이는 NumPy가 C로 구현되어 있어 저수준 최적화를 활용할 수 있는 반면, Python 리스트는 순차적으로 인터프리터에 의해 실행되기 때문에 발생함

# 넘파이의 자료형

넘파이의 배열 즉, `ndarray`클래스는 원소가 모두 같은 자료형이어야 한다. `array` 명령으로 배열을 만들 때 자료형을 명시적으로 적용하려면 `dtype` 인수를 사용한다. 만약 `dtype` 인수가 없으면 주어진 데이터를 저장할 수 있는 자료형을 스스로 유추한다. 만들어진 배열의 자료형을 알아내려면 `dtype` 속성을 보면 된다.

# 1.배열 (array)
- numpy의 array라는 함수에 리스트[ ]를 넣으면 배열로 변환
- 다차원 배열의 데이터 방향을 axis로 표현할 수 있습니다. 행방향(높이), 열방향(폭), 채널 방향은 각각 axis=0, axis=1 그리고 axis=2로 지정

## 1.1 1차원 배열

In [5]:
# 1차원 배열 생성
arr = np.array([0, 1, 2, 3, 4, 5, 6, 7, 8, 9])
arr

array([0, 1, 2, 3, 4, 5, 6, 7, 8, 9])

In [6]:
type(arr)

numpy.ndarray

In [7]:
arr.dtype

dtype('int32')

In [9]:
data1 = [1,2,3,4,5]
data1

[1, 2, 3, 4, 5]

In [10]:
type(data1)

list

In [11]:
arr1 = np.array(data1)
arr1

array([1, 2, 3, 4, 5])

In [12]:
type(arr1)

numpy.ndarray

In [13]:
arr1.dtype

dtype('int32')

 ## 1.2 2차원 배열
- 다차원 배열 자료 구조 ex) 1차원, 2차원, 3차원 배열
- 2차원 배열은 행렬(matrix)로 가로줄 행(row)과 세로줄 열(column)로 구성

In [14]:
# 2행 x 3열 2차원배열 생성
c = np.array([[0, 1, 2], [3, 4, 5]])
c

array([[0, 1, 2],
       [3, 4, 5]])


## **연습 문제 1**

넘파이를 사용하여 다음과 같은 행렬을 만든다.

```
10 20 30 40
50 60 70 80
```
- 2 x 4 행렬을 생성하여 k에 저장하고 k를 출력한다.

In [16]:
# 연습문제 1 - 코드 작성
data = [[10, 20, 30, 40], [50, 60, 70, 80]]       # ... code here
k = np.array(data)       # ... code here
k

array([[10, 20, 30, 40],
       [50, 60, 70, 80]])

In [ ]:
k.shape

(2, 4)

## 1.3 3차원 배열
바깥쪽 리스트의 길이부터 가장 안쪽 리스트 길이의 순서로 표시

In [17]:
 # 2 x 3 x 4 배열 생성
d = np.array([[[1, 2, 3, 4],
               [5, 6, 7, 8],
               [9, 10, 11, 12]],
              [[11, 12, 13, 14],
               [15, 16, 17, 18],
               [19, 20, 21, 22]]])
d

array([[[ 1,  2,  3,  4],
        [ 5,  6,  7,  8],
        [ 9, 10, 11, 12]],

       [[11, 12, 13, 14],
        [15, 16, 17, 18],
        [19, 20, 21, 22]]])

## 1.4 배열의 차원과 크기
- ndim 속성은 배열의 차원
-  shape 속성은 배열의 크기를 반환( 데이터의 형태를 파악하는 명령 )

In [18]:
# 1차원 배열 생성
ab = np.array([1, 2, 3])
ab

array([1, 2, 3])

In [19]:
ab.ndim

1

In [20]:
ab.shape

(3,)

In [21]:
ab.size

3

In [22]:
ab.dtype

dtype('int32')

In [23]:
# 2차원 배열 생성(2X3)
abc = np.array([[0, 1, 2], [3, 4, 5]])
abc

array([[0, 1, 2],
       [3, 4, 5]])

In [24]:
print(abc.ndim)
print(abc.shape)

2
(2, 3)

In [25]:
# 3차원 배열 생성(2x3x4)
abcd = np.array([[[1, 2, 3, 4],
               [5, 6, 7, 8],
               [9, 10, 11, 12]],
              [[11, 12, 13, 14],
               [15, 16, 17, 18],
               [19, 20, 21, 22]]])
abcd

array([[[ 1,  2,  3,  4],
        [ 5,  6,  7,  8],
        [ 9, 10, 11, 12]],

       [[11, 12, 13, 14],
        [15, 16, 17, 18],
        [19, 20, 21, 22]]])

In [ ]:
print(abcd.ndim)
print(abcd.shape)

3
(2, 3, 4)

In [ ]:
a = np.array([0, 1, 2, 3, 4])
a

array([0, 1, 2, 3, 4])

## 1.5.다양한 배열 생성
- np.zeros() / np.ones()

In [ ]:
# 모든 요소가 0인 3x3 행렬 초기화
zero_matrix = np.zeros((3, 3))
print("3x3 행렬 (zeros):\n", zero_matrix)

# 모든 요소가 1인 3x3 행렬 초기화
one_matrix = np.ones((3, 3))
print("3x3 행렬 (ones):\n", one_matrix)

3x3 행렬 (zeros):
 [[0. 0. 0.]
 [0. 0. 0.]
 [0. 0. 0.]]
3x3 행렬 (ones):
 [[1. 1. 1.]
 [1. 1. 1.]
 [1. 1. 1.]]

In [ ]:
# 10개의 요소를 가진 1차원 배열을 0으로 초기화
data = np.zeros(10)
print("초기화된 배열 (zeros):", data)

# 배열에 값 채우기
for i in range(10):
    data[i] = i * 2
print("채워진 배열:", data)

초기화된 배열 (zeros): [0. 0. 0. 0. 0. 0. 0. 0. 0. 0.]
채워진 배열: [ 0.  2.  4.  6.  8. 10. 12. 14. 16. 18.]

In [ ]:
# 3x3 배열 생성
data = np.array([[5, 7, 9], [4, 3, 8], [6, 1, 2]])

# 조건을 만족하는 요소에 대한 마스크 배열 생성
mask = np.zeros(data.shape)
mask[data > 5] = 1
print("마스크 배열:\n", mask)

# 마스크 배열을 사용하여 조건을 만족하는 요소 선택
selected_elements = data[mask == 1]
print("선택된 요소:", selected_elements)

마스크 배열:
 [[0. 1. 1.]
 [0. 0. 1.]
 [1. 0. 0.]]
선택된 요소: [7 9 8 6]

# 2.배열의 인덱싱(Indexing)

In [ ]:
a[2]

2

In [ ]:
a[-1]

4

In [ ]:
b = np.array([[0, 1, 2], [3, 4, 5]])
b

array([[0, 1, 2],
       [3, 4, 5]])

In [ ]:
b.shape

(2, 3)

In [ ]:
b[0, 0]

0

In [ ]:
b[0, 1]

1

In [ ]:
b[-1, -1]

5

# 3.슬라이싱(Slicing)

In [ ]:
a = np.array([[0, 1, 2, 3],
              [4, 5, 6, 7]])
a

array([[0, 1, 2, 3],
       [4, 5, 6, 7]])

In [ ]:
a[0, :]

array([0, 1, 2, 3])

In [ ]:
a[1, 1:]

array([5, 6, 7])

In [ ]:
a[:2, :2]

array([[0, 1],
       [4, 5]])

## **연습 문제 2**

다음 행렬과 같은 행렬이 있다.

```
m = np.array([[ 0,  1,  2,  3,  4],
            [ 5,  6,  7,  8,  9],
            [10, 11, 12, 13, 14]])

1. 이 행렬에서 값 7 을 인덱싱한다.
2. 이 행렬에서 값 14 을 인덱싱한다.
3. 이 행렬에서 배열 [6, 7] 을 슬라이싱한다.
4. 이 행렬에서 배열 [7, 12] 을 슬라이싱한다.
5. 이 행렬에서 배열 [[3, 4], [8, 9]] 을 슬라이싱한다.
````

In [ ]:
# 연습문제 2 - 코드 작성

m = np.array([[ 0,  1,  2,  3,  4],
              [ 5,  6,  7,  8,  9],
              [10, 11, 12, 13, 14]])


#1. 이 행렬에서 값 7 을 인덱싱한다.
...        # ... code here
#2. 이 행렬에서 값 14 을 인덱싱한다.
...        # ... code here
#3. 이 행렬에서 배열 [6, 7] 을 슬라이싱한다.
...        # ... code here
#4. 이 행렬에서 배열 [7, 12] 을 슬라이싱한다.
...        # ... code here
#5. 이 행렬에서 배열 [[3, 4], [8, 9]] 을 슬라이싱한다.
...        # ... code here

7
14
[6 7]
[ 7 12]
[[3 4]
 [8 9]]

# 4.배열의 형태 변환 - Reshape
- 만들어진 배열의 내부 데이터는 보존한 채로 형태만 reshape 명령어나 메서드로 변형
- 배열 형태( Array shape )를 변경함

In [ ]:
# 12개 원소를 가진 1차원 배열 생성
a = np.arange(12)
a

array([ 0,  1,  2,  3,  4,  5,  6,  7,  8,  9, 10, 11])

In [ ]:
# 1차원 배열을 reshape 매서드로 3x4 형태의 2차원 행렬로 변형
# 데이터 변경 없이 형상만 변경하여 반환
b = a.reshape(3, 4)
b

array([[ 0,  1,  2,  3],
       [ 4,  5,  6,  7],
       [ 8,  9, 10, 11]])

In [ ]:
# -1을 사용하여 동일하게 변형 : 위와 같이 4를 지정안해도 알아서 계산되어 사용
# 개좋네
b.reshape(3, -1)

array([[ 0,  1,  2,  3],
       [ 4,  5,  6,  7],
       [ 8,  9, 10, 11]])

In [ ]:
b.reshape(2, -1, 2)

array([[[ 0,  1],
        [ 2,  3],
        [ 4,  5]],

       [[ 6,  7],
        [ 8,  9],
        [10, 11]]])

In [ ]:
# 3차원 배열 생성
arr = np.arange(1, 13).reshape((2, 2, 3))

# 2차원 배열로 변환
reshaped_arr = np.reshape(arr, (4, 3))
print("3차원 배열:\n", arr)
print("2차원 배열로 변환:\n", reshaped_arr)

3차원 배열:
 [[[ 1  2  3]
  [ 4  5  6]]

 [[ 7  8  9]
  [10 11 12]]]
2차원 배열로 변환:
 [[ 1  2  3]
 [ 4  5  6]
 [ 7  8  9]
 [10 11 12]]

In [ ]:
# 1차원 배열 생성
arr = np.arange(1, 25)

# 2x3x4 배열로 변환
reshaped_arr = np.reshape(arr, (2, 3, 4))
print("1차원 배열:", arr)
print("3차원 배열로 변환:\n", reshaped_arr)

# 2x2x3x2 배열로 변환
reshaped_arr_4d = np.reshape(arr, (2, 2, 3, 2))
print("4차원 배열로 변환:\n", reshaped_arr_4d)

1차원 배열: [ 1  2  3  4  5  6  7  8  9 10 11 12 13 14 15 16 17 18 19 20 21 22 23 24]
3차원 배열로 변환:
 [[[ 1  2  3  4]
  [ 5  6  7  8]
  [ 9 10 11 12]]

 [[13 14 15 16]
  [17 18 19 20]
  [21 22 23 24]]]
4차원 배열로 변환:
 [[[[ 1  2]
   [ 3  4]
   [ 5  6]]

  [[ 7  8]
   [ 9 10]
   [11 12]]]


 [[[13 14]
   [15 16]
   [17 18]]

  [[19 20]
   [21 22]
   [23 24]]]]

In [ ]:
# 다 차원 배열을 무조건 1차원으로 펼치는 메서드 : flatten, ravel
b.flatten()   #1차원배열 복사본을 반환

array([ 0,  1,  2,  3,  4,  5,  6,  7,  8,  9, 10, 11])

In [ ]:
b.ravel()    # 1차원배열(contiguous flattened array)을 반환

array([ 0,  1,  2,  3,  4,  5,  6,  7,  8,  9, 10, 11])

# 5.차원축소 연산
차원 축소(Dimension Reduction) 연산은 행렬의 하나의 행에 있는 원소들을
하나의 데이터 집합으로 보고 그 집합의 평균을 구하면 1차원 벡터가 반환
#### numpy의 차원 축소 연산 메서드

- 최대/최소: min, max, argmin, argmax
- 통계: sum, mean, median, std, var
- 불리언: all, any

In [ ]:
x = np.array([1, 2, 3, 4])
x

array([1, 2, 3, 4])

In [ ]:
# numpy 합계 sum
np.sum(x)

10

In [ ]:
# 합계 sum
x.sum()

10

In [ ]:
# 최소값
x.min()

1

# 6.연산

In [ ]:
# 두 배열 생성
arr1 = np.array([1, 2, 3])
arr2 = np.array([4, 5, 6])

# 덧셈
add_result = arr1 + arr2
print("덧셈 결과:", add_result)

# 뺄셈
sub_result = arr1 - arr2
print("뺄셈 결과:", sub_result)

# 곱셈
mul_result = arr1 * arr2
print("곱셈 결과:", mul_result)

# 나눗셈
div_result = arr1 / arr2
print("나눗셈 결과:", div_result)

덧셈 결과: [5 7 9]
뺄셈 결과: [-3 -3 -3]
곱셈 결과: [ 4 10 18]
나눗셈 결과: [0.25 0.4  0.5 ]

In [ ]:
import numpy as np

# 2차원 배열과 1차원 배열 생성
arr1 = np.array([[1, 2, 3], [4, 5, 6]])
arr2 = np.array([1, 2, 3])

# 브로드캐스팅을 통한 덧셈
result = arr1 + arr2
print("브로드캐스팅 결과:\n", result)

브로드캐스팅 결과:
 [[2 4 6]
 [5 7 9]]

In [ ]:

# 두 행렬 생성
matrix1 = np.array([[1, 2], [3, 4]])
matrix2 = np.array([[5, 6], [7, 8]])

# 행렬 곱셈
matrix_product = np.dot(matrix1, matrix2)
print("행렬 곱셈 결과:\n", matrix_product)

# 전치 행렬
transpose_matrix = np.transpose(matrix1)
print("전치 행렬:\n", transpose_matrix)

# 역행렬
inverse_matrix = np.linalg.inv(matrix1)
print("역행렬:\n", inverse_matrix)

# 행렬식
det_matrix = np.linalg.det(matrix1)
print("행렬식:", det_matrix)

행렬 곱셈 결과:
 [[19 22]
 [43 50]]
전치 행렬:
 [[1 3]
 [2 4]]
역행렬:
 [[-2.   1. ]
 [ 1.5 -0.5]]
행렬식: -2.0000000000000004

## 연습 문제 3

In [26]:
import numpy as np

# 1. 크기가 (4, 4)인 2차원 배열을 생성하고, 모든 요소를 0으로 초기화
array = np.zeros((4, 4))        # ... code here
print("초기화된 배열:")
print(array)

초기화된 배열:
[[0. 0. 0. 0.]
 [0. 0. 0. 0.]
 [0. 0. 0. 0.]
 [0. 0. 0. 0.]]

In [29]:
# 2-1. 생성한 배열에서 대각선 요소를 1로 변경 (for 루프 사용)
for i in range(4) :        # ... code here
    array[i][i] = 1
    
# 교수님 답
for i in range(len(array)) :
    array[i, i] = 1


print("\n대각선 요소를 1로 변경한 배열 (for 루프 사용):")
print(array)

대각선 요소를 1로 변경한 배열 (for 루프 사용):
[[1. 0. 0. 0.]
 [0. 1. 0. 0.]
 [0. 0. 1. 0.]
 [0. 0. 0. 1.]]

In [31]:
# 2-2. 생성한 배열에서 대각선 요소를 1로 변경
# 넘파이 매서드 
np.fill_diagonal(array, 1)        # ... code here

print("\n대각선 요소를 1로 변경한 배열:")
print(array)

대각선 요소를 1로 변경한 배열:
[[1. 0. 0. 0.]
 [0. 1. 0. 0.]
 [0. 0. 1. 0.]
 [0. 0. 0. 1.]]

In [34]:
# 3. 배열의 각 행과 열의 합을 계산
row_sums = np.sum(array, axis=0)      # 축의 방향으로 값이 생성되는 것! 더해지는 방향과 헷갈리지 말기!!
col_sums = np.sum(array ,axis = 1)    # 축으로 값이 생성되는 것! 더해지는 방향 헷갈리지 말기!!
print("\n각 행의 합:", row_sums)
print("각 열의 합:", col_sums)

각 행의 합: [1. 1. 1. 1.]
각 열의 합: [1. 1. 1. 1.]

In [36]:
# 4. 배열 전체의 평균과 표준편차를 계산
mean_value = np.mean(array)        # ... code here
std_deviation = np.std(array)        # ... code here
print("\n배열 전체의 평균:", mean_value)
print("배열 전체의 표준편차:", std_deviation)

배열 전체의 평균: 0.25
배열 전체의 표준편차: 0.4330127018922193

# `Inf`와 `NaN`

넘파이에서는 무한대를 표현하기 위한 `np.inf`(infinity)와 정의할 수 없는 숫자를 나타내는 `np.nan`(not a number)을 사용할 수 있다. 다음 예와 같이 1을 0으로 나누려고 하거나 0에 대한 로그 값을 계산하면 무한대인 `np.inf`이 나온다. 0을 0으로 나누려고 시도하면 `np.nan`이 나온다.
  
![다운로드.jfif]()