# 09_파이썬자료형-기본자료형

## **1. 숫자형이란?**
- 숫자 형태로 이루어진 자료형

|항목|Python 표현 예시|
|:---------|:---|
|정수형 (int)|123, -123, 0|
|실수형 (float)|100.5, -100.5, 10e3, 10e5|

### 1-1. 수치자료형 - 정수형

In [1]:
score = 23
# score 의 type 출력하기
...        # ... 코드 입력

int

In [2]:
id(score)

140704358909416

### 1-2. 수치자료형 - 실수형

In [3]:
x = 3.2
type(x)

float

In [4]:
id(x)

1680592076880

### 1-3. 수치자료형-복소수

In [5]:
a = 4 + 5j
type(a)

complex

In [6]:
id(a)

1680592086608

## **연습문제**

### 1. 과일 가게의 총 매출을 구해보세요.

|품목|가격|
|:---------|:---|
|바나나|1000원|
|사과|500원|
|체리|5000원|
&nbsp;

|고객|품목|판매수량|
|:---------|:---|:---|
|A|사과|2
|A|체리|3
|B|사과|4
|C|바나나|1
|C|사과|2
|C|체리|1

### 2. 문자열

In [7]:
city = "Seoul, Korea"
type(city)

str

In [8]:
city = "Seoul, Korea"
city

'Seoul, Korea'

In [9]:
city1 = 'Seoul, Korea'
city1

'Seoul, Korea'

In [10]:
city2 = """Seoul, Korea"""
city2

'Seoul, Korea'

In [11]:
city3 = '''Seoul, Korea'''
city3

'Seoul, Korea'

In [12]:
'Kang's favorite food is apple'

SyntaxError: unterminated string literal (detected at line 1) (3302844491.py, line 1)

In [13]:
"Kang's favorite food is apple"

"Kang's favorite food is apple"

In [14]:
''I love you" he says.'

SyntaxError: unterminated string literal (detected at line 1) (3026291416.py, line 1)

In [15]:
'"I love you" he says.'

'"I love you" he says.'

In [16]:
sentence = "Life is too short, \
            You need Python. \
            Let's learn Python."
sentence

"Life is too short,             You need Python.             Let's learn Python."

### 3. 부울형

In [17]:
a = True
type(a)

bool

In [18]:
b = False
type(b)

bool

In [19]:
bool('Python')

True

In [20]:
bool('')

False

In [21]:
bool(1)

True

In [22]:
bool(0)

False

In [23]:
bool(2)

True

In [24]:
x = 1
y = x > 0
y

True

In [25]:
if []:
    print('True')
else:
    print('False')

False

### 4. 형변환

In [26]:
#정수형으로 형 변환
a = ...(3.14)   # ... 코드 입력                       
a

3

In [27]:
# 실수형으로 형 변환
b = ...(3)    # ... 코드 입력      
b

3.0

In [29]:
# 문자형으로 형 변환
c = 3.141592
...(c)    # ... 코드 입력

'3.141592'

In [ ]:
str(c)